module/__pycache__/__init__.cpython-313.pyc
module/__pycache__/app.cpython-313.pyc
module/__pycache__/constants.cpython-313.pyc
module/__pycache__/localization.cpython-313.pyc
module/__pycache__/paths.cpython-313.pyc
module/__pycache__/settings_dialog.cpython-313.pyc
module/__pycache__/timer_window.cpython-313.pyc
settings/timer_settings.json
.codemap/
