# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log

# Virtual envs
.venv/
venv/
ENV/

# Build artifacts
build/
dist/

# IDE
.vscode/
.idea/

# Local runtime settings (recreated on first run)
settings/timer_settings.json

# Do not commit the README template
README-object.md
